.box {
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainHeader {
  font-size: var(--fsz-title);
  color: var(--color-primary-title);
  font-weight: 300;
}

.wrapper {
  width: 600px;
  background: var(--color-main-list);
  border: 1px solid var(--color-border-hint);
  box-shadow: var(--shadow);
  position: relative;
  transform-style: preserve-3d;
}

.count {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--color-status);
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 16px;
  gap: 8px;
}

@media (max-width: 768px) {
  .box {
    width: 90vw;
  }

  .wrapper {
    width: 100%;
  }
}